.button-app-bar {
  margin-bottom: 1em;
}

.magic-img {
  width: 100px;
}

.nav-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.back-button {
  align-self: center;
}

.logo {
  grid-column: 2/3;
  text-align: center;
  padding-top: 0.5em;
}

.drawer {
  grid-column: 3/4;
  text-align: end;
}
